
appdirs==1.4.4
atomicwrites==1.4.0
Bottleneck==1.4.2
Flask
Flask-Cors==5.0.0
gunicorn==23.0.0
jsonpointer==2.1
numexpr==2.10.1
numpy==2.1.2
pickle-mixin==1.0.2
protobuf==3.20.3
pyasn1-modules==0.2.8
pycurl==7.45.2
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
requests
scikit-learn
setuptools==69.5.1
Werkzeug
wheel==0.43.0
